
.fixed-header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
  }
  
  .fixed-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #001529;
    color: white;
    z-index: 1000;
    padding: 10px 50px;
  }
  
  .page-content {
    margin-top: 64px;  /* Altura del Header */
    margin-bottom: 64px; /* Altura del Footer */
    padding: 24px;
  }
  
  .cart-container {
    margin-left: auto;
    margin-right: 24px;
    display: flex;
    align-items: center;
  }
  